In [1]:
import pandas as pd
import numpy as np
import sys
import os
from pandas_multiprocess import multi_process
from datetime import datetime
import time

In [17]:
def func(data_row, wait):
    time.sleep(wait)
    data_row['sum'] = data_row['col_1'] + data_row['col_2']
    return data_row

In [31]:
df_len = 1000
df = pd.DataFrame({'col_1': np.random.normal(size=df_len),
                   'col_2': np.random.normal(size=df_len)
                   })
args = {'wait': 0.01}

In [39]:
# Using pandas apply()
t0 = time.time()
result = df.apply(func, axis=1, **args)
print("Pandas apply() run time {:f} seconds.".format(time.time() - t0))

Pandas apply() run time 11.868649 seconds.

In [40]:
# Using pandas_multiprocess.multi_process() with 8 processes
t0 = time.time()
result = multi_process(func=func,
                       data=df,
                       num_process=8,
                       **args)
print("8 processes run time {:f} seconds.".format(time.time() - t0))

8 processes run time 2.017582 seconds.

In [38]:
# Using pandas_multiprocess.multi_process() with 16 processes
t0 = time.time()
result = multi_process(func=func,
                       data=df,
                       num_process=16,
                       **args)
print("16 processes run time {:f} seconds.".format(time.time() - t0))

16 processes run time 1.305580 seconds.

In [41]:
result.head()

      col_1     col_2       sum
0  1.456458  0.145007  1.601465
1  1.582419  0.032244  1.614663
2 -0.082336 -1.454403 -1.536739
3  1.004679  1.110422  2.115101
4 -3.207741  0.086595 -3.121146

In [42]:
df.apply?